
@{
    ViewData["Title"] = "GKGY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Head Start -->
<section id="pageHead" class="w-full  bg-zinc-900 text-white">
  <div class="container mx-auto py-10 h-64 flex flex-col justify-center">
    <h1 class="text-3xl font-bold pl-10">Kurslar</h1>
<ul class="flex flex-row py-2 pl-10 gap-4">
  <li class="text-zinc-400"><a href="#">Kurslar</a></li>
  <span>></span>
  <li><a href="#">GKGY</a></li>
</ul>

  </div>
</section>
<!-- Page Head End -->

<div class="my-8 px-8 text-black">
    <h1 class="text-3xl lg:text-4xl font-bold mb-4">GKGY İçeriği</h1>
    
</div>