
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Head Start -->
<section id="pageHead" class="w-full  bg-zinc-900 text-white">
  <div class="container mx-auto py-10 h-64 flex flex-col justify-center">
    <h1 class="text-3xl font-bold pl-10">Biz İhtiyaç Akademisi</h1>
<ul class="flex flex-row py-2 pl-10 gap-4">
  <li class="text-zinc-400"><a href="#">Anasayfa</a></li>
  <span>></span>
  <li><a href="#">Hakkımızda</a></li>
</ul>

  </div>
</section>
<!-- Page Head End -->


<div class="mt-8 px-8 text-black">

    <h1 class="text-3xl lg:text-4xl font-bold mb-4">Biz İhtiyaç Akademisi</h1>

    <p class="text-lg lg:text-xl leading-relaxed">Öğrencilerin başarısını hedefleyen ve onlara en kaliteli, en güncel ve en etkili öğrenme kaynaklarını sunmayı amaçlayan bir online eğitim platformuyuz. Ekibimiz, geniş bir eğitim yayıncılığı deneyimine sahip profesyonellerden oluşmaktadır ve misyonumuz, eğitimin her aşamasında öğrencilere destek olmak ve onların akademik başarılarını artırmaktır.</p>

    <p class="text-lg lg:text-xl leading-relaxed">İhtiyaç Akademisi olarak, LGS, TYT, AYT, YDT, YDS, KPSS, GKGY, ÖABT ve daha fazlası için konu anlatımı kitapları, soru bankaları, deneme ve yaprak testler sunuyoruz. Bu materyaller, her öğrencinin kendi öğrenme hızında ve tarzında çalışabilmesi için çeşitli formatlarda ve seviyelerde hazırlanmıştır.</p>

    <p class="text-lg lg:text-xl leading-relaxed">Sadece en yüksek kaliteye odaklanmakla kalmıyor, aynı zamanda öğrenme deneyiminizi kişiselleştiriyoruz. Abonelerimiz, seviyelerine ve ihtiyaçlarına göre özelleştirilmiş eğitim materyallerine erişebilirler. Ayrıca, en son eğitim trendlerine ve tekniklerine dayalı içerikler sağlayarak öğrencilere en güncel ve etkili öğrenme deneyimini sunmayı taahhüt ediyoruz.</p>

    <p class="text-lg lg:text-xl leading-relaxed">İhtiyaç Akademisi olarak, öğrencilerin eğitim hedeflerine ulaşmalarına yardımcı olmak için uygun fiyatlı abonelik seçenekleri sunuyoruz. Piyasa şartlarının yüzde 30 altında maliyetle kaliteli ve güncel içerik sağlıyoruz.</p>

    <p class="text-lg lg:text-xl leading-relaxed">Yenilikçi bir online eğitim platformu olarak, zaman ve mekân sınırlaması olmadan, herkesin kendi hızında öğrenme olanağını değerlendiriyoruz. Hedefimiz, öğrencilerin öğrenme deneyimlerini kişiselleştirebilecekleri, kendilerini daha iyi hale getirebilecekleri ve sınavlarına en iyi şekilde hazırlanabilecekleri bir platform sunmaktır.</p>

    <p class="text-lg lg:text-xl leading-relaxed">Biz, eğitimde fırsat eşitliğine inanan ve her öğrencinin potansiyelini en üst düzeye çıkarmayı hedefleyen bir ekibiz. Sizinle çalışmayı dört gözle bekliyoruz!</p>

    <h2 class="text-xl lg:text-2xl font-bold mt-6">"Her İhtiyaca Anında Yanıt" Sloganımızla</h2>

    <p class="text-lg lg:text-xl leading-relaxed">Sorularınız, Denemeleriniz, Dokümanlarınız; Hepsi Bir Arada</p>


</div>